@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vh;
    background-color: rgb(146, 164, 175);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(87, 87, 87);
    background-color: rgb(163, 163, 163);
    color: rgb(87, 87, 87);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

button:hover {
    background-color: rgb(187, 187, 187);
    border: 2px solid rgb(66, 66, 66);
    color: rgb(66, 66, 66);
}

p {
    font-size: 18px;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 25px;
    color: black;
}